$black: #1d1f20;
$blue: #83e4e2;
$green: #a2ed56;
$yellow: #fddc32;
$white: #fafafa;

%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem var(--box-color), 0 0.5rem 1.125rem var(--box-color);
}

main {
  display: block;
  margin: auto 5%;
  padding: 1rem;
  color: #000;
}

.gradientlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  img {
    border-radius: 5px;
    margin-right: auto;
    margin-left: 20px;
  }

  .grad-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      margin: 0 50px;
      color: var(--box-color);
    }
  }
}

ol.gradient-list {
  counter-reset: gradient-counter;
  margin: 1.75rem 0;
  padding-left: 1rem;

  > li {
    background: var(--theme-background);
    color: var(--box-color);
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    @extend %boxshadow;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;

    &::before,
    &::after {
      background: linear-gradient(135deg, $blue 0%, $green 100%);
      border-radius: 1rem 1rem 0 1rem;
      content: "";
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
    }

    &::before {
      align-items: flex-end;
      @extend %boxshadow;
      content: counter(gradient-counter);
      color: $black;
      display: flex;
      justify-content: flex-end;
      padding: 0.125em 0.25em;
      z-index: 1;
    }

    &:nth-child(3n):before {
      background: linear-gradient(135deg, $green 0%, $yellow 100%);
    }

    + li {
      margin-top: 2rem;
    }
  }
}

.details-god {
  margin: auto 8%;

  .details {
    position: relative;

    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      i {
        color: #000;
      }
    }

    .det-top {
      margin: 40px 0;

      .det-data {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;

        img {
          text-align: center;
          border-radius: 5px;
          width: 600px;
        }

        .det-header {
          margin-left: 50px;
          margin-top: 10px;
          text-align: center;

          h2 {
            margin-bottom: 20px;
          }
        }
      }
    }

    .det-sub {
      margin-top: 20px;

      h2 {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .det-data {
    align-items: center !important;

    img {
      width: 500px !important;
    }

    .det-header {
      margin-left: 0 !important;
      margin-top: 0 !important;

      h2 {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .det-data {
    img {
      width: 400px !important;
    }
  }
}
@media screen and (max-width: 700px) {
  .det-data {
    img {
      width: 300px !important;
    }
  }
}
@media screen and (max-width: 600px) {
  .details-god {
    margin: auto 4%;

    .det-data {
      flex-direction: column !important;
    }
  }
}
@media screen and (min-width: 350px) {
  .details {
    min-width: 350px !important;
  }
}
