.products {
  margin: auto 4%;
}
.products h2 {
  text-align: center;
  margin: 80px 0 20px 0;
}
.products-sub {
  margin-top: 80px;
  margin-bottom: 100px;
}
.products-caption {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.products-caption img {
  margin-top: 8px;
  width: 100%;
  padding: 10px;
}
.column {
  background-image: linear-gradient(to right, #04befe, #3f86ed);
  border-radius: 8px;
}
.column-images {
  height: 280px;
  width: 380px;
}
.column-heading,
.column-subheading {
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 4px;
  margin-bottom: 4px;
}

.pokemon-box {
  position: relative;
}
.pokemon-spinner-column {
  background-image: linear-gradient(to right, #04befe, #3f86ed);
  border-radius: 8px;
  height: 280px;
  width: 380px;
}
.pokemon-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa-spinner {
  font-size: 50px;
  color: #fff;
}
